<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <p>
        There was a failure in <%= @site %> during the get_jobs rake task.
      </p>
  </body>
</html>