<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to RemoteGig.io</h1>
    <p>
      You have successfully signed up for our mailing list.
    <br>
    </p>
    <p>
      Remember, you can also sign up for an account to save and track jobs. Just follow this link: https://remotegig.io/users/sign_up.
    </p>
    <p>Have a great day!</p>
  </body>
</html>