<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to RemoteGig.io</h1>
    <p>
      You have successfully signed up,
      your username is: <%= @user.email %>.<br>
    </p>
    <p>
      To login to the site, just follow this link: https://remotegig.io/users/sign_in.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>