/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require font-awesome
 *= require_self
 */

 .panel{
  display:none;
  width: 50%;
	font-size: 12px;
	color: #666;
}

td{
  padding: 53px 14px 23px 40px;
}

.job{
	max-width: 630px;
	color: #07C;
	font-size: 15px;
	font-weight: bold;
	line-height: 17px;
	margin-right: 17px;
}

.company{
	color: #535a60;
	font-size: 15px;
	line-height: 17px;
	margin-right: 5px;
	padding-top: 10px;
}

.navbar {
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
}
.icons {
	float: right;
	padding-right: 75px;
}
.legend {
	float: right;
	padding-right: 10px;
	padding-top: 700px;
}
.fa {
  color: grey;
  margin-right: 20px;
  margin-top: 20px;
}
.fa:hover {
    color: black;
}

.fa.fa-money:hover {
	color: #85bb65;
}

.fa.fa-suitcase:hover {
	color: #ff1a1a;
}

.fa.fa-child:hover {
	color: #89CFF0;
}

.fa.fa-rss:hover {
	color: #f18973;
}
.fa.fa-twitter:hover {
	color: #1dcaff;
}

#badge {
	margin-right: 5px;
  margin-top: 5px;
}

.reset_search_button {
	padding: 1em 2em;
	outline: none;
	font-weight: 600;
	border: none;
	color: #fff;
	background: #c94e50;
}