// Place all the styles related to the jobs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
	background-image: image-url('eddie_text.png');
	background-size:contain; 
	background-repeat:no-repeat;
	background-attachment:fixed;
	height:100%;
	background-position: right;
}